Eclipse_WS/JavaTraining/.classpath
Eclipse_WS/JavaTraining/.settings
Eclipse_WS/JavaTraining/bin
Eclipse_WS/JavaTraining/.project
Eclipse_WS/JavaTraining/.project
Eclipse_WS/.metadata/
Eclipse_WS/.metadata/.plugins/
Eclipse_WS\.metadata\.plugins
